.idea/
infra/envs/*/images.auto.tfvars.json
**/.terraform/*
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
.vscode/
.idea/
# Local env / config (credentials)
**/.env
**/application-*-local.yml
