.idea/
infra/envs/*/images.auto.tfvars.json
**/.terraform/*
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json
**/.terraformrc
**/terraform.rc
.vscode/
.idea/
# Local env / config (credentials)
**/.env
**/application-*-local.yml
backend/services/notification-service/src/main/resources/firebase/ 
backend/services/notification-service/src/main/resources/credeentials/ 
backend/services/auth-service/src/main/resources/application.yml 
frontend/admin-panel/src/environments/environment.development.ts 
frontend/admin-panel/src/environments/environment.production.ts 
frontend/partner-dashboard/src/environments/environment.production.ts 
backend/services/location-service/src/main/resources/application.yml 
frontend/admin-panel/src/environments/environment.ts 
frontend/courier_app/assets/config/config.json 
frontend/partner-dashboard/src/environments/environment.ts 
